/*Imported from index*/

.icon {
    display: inline;
    font-weight: 700;
    -webkit-text-fill-color: currentColor;
}

.icon svg{
    max-height: 1em;
    max-width: 1em;
    display: inline;
    vertical-align: -0.125em;
    fill: currentColor;
}

.damageIcon {
    color: #FF416C;
}

.shieldIcon {
    color: #bdc3c7;
}

.hpIcon, .maxHpIcon {
    color: #f64f59;
}

.cardIcon, .equipmentCardIcon, .handCardIcon {
    color: #f4791f;
}
.exposeIcon, .playerIcon {
    color: #00d2ff;
}